
.login{
    background: white;
    border-radius: 40px;
    padding: 250px 2px;
    font-size: 20pt;
    font-style: normal ;
    padding-top: 0.5%;
    padding-bottom: 25%;

    width: 650px;
    height: 500px;
    margin:auto;
    margin-top: 0%;
    box-shadow: 3px 3px 10px rgb(53, 49, 49);
    margin-bottom: 1px;
    text-align:center;
    line-height: 20px;
    
    
    
}

.titulo{
    
    margin-top: 20px ;
    line-height: 50px;
    margin-bottom: 35px;  

}
.cadastro {
    line-height: 32px;
    text-align: left;
    margin-left: 40px;
    
}

label{
    text-align: left;
    margin-right: 10px;
}

input{
    width: 200px;
    border-radius: 10px;
    text-align: left;
    padding: 0px 5px;
    
    
    
}
::placeholder{
    opacity: 75%;
    padding-left: 2%;
    
}
.endereco{
    width: 200px;
    padding-right: 10px;
}
.botao{

    padding: 5px 5px;
    margin-top: 50px;
    font-size: 24px;
    text-align: center;
    cursor: pointer;
    outline: none;
    color: #fff;
    background-color: #252323;
    border: none;
    border-radius: 15px;
    box-shadow: 0 5px #999;
    display: inline-block;
    
    
    

}
.mostracadastro{
    font-size: 20pt;
    font-style: normal;
    
    line-height: 30px;
    margin-top: 50px;
    text-align: left;
    margin-left: 40px;
    
}
body{
    color: #000000;
    background: rgb(1, 60, 78);
}
