#sobrenos{
    height: 550px;
    width: 650px;
    background: wheat;
    margin: 75px 80px;
    border-radius: 20px;
    color: rgb(70, 69, 68);
    opacity: 90%;
}
#titulo{
    padding: 30px 115px 15px 35px;
    font: bold 55px helvetica;
}
#lorem1{
    font: bold 18px arial;
    text-align: justify;
    padding: 20px 35px 0px 35px;
}
#lorem2{
    font: 21px normal;
    text-align: justify;
    padding: 20px 35px 0px 35px;
}
#imagem{
    
}