.homep{
    min-height: 800px;
    max-width: 1920;
}
.txt2{
        margin-top: 100px;
        text-align: center;
        font: bold 42pt arial;
        margin-bottom: 1%;
    
    
}
img{
    width: 600px;
    margin-left: 27%;
}